@{
    ViewData["Title"] = "Jabil - Test";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Jabil - Test</h1>
        <p>Github: <a href="https://github.com/luischavez">luischavez</a></p>
    </div>
</div>
