@model Customer

<div class="container">
    <h2>Create Customer</h2>

    <hr />

    <div class="row">
        <div class="col-12">
            <form asp-action="Store" asp-controller="Customer" method="post">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" placeholder="Customer name" />
                    <div>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Prefix"></label>
                    <input asp-for="Prefix" class="form-control" placeholder="Customer prefix" />
                    <div>
                        <span asp-validation-for="Prefix" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Fkbuilding"></label>
                    <select asp-for="Fkbuilding" asp-items="ViewBag.Buildings" class="form-control"></select>
                    <div>
                        <span asp-validation-for="Fkbuilding" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group form-check">
                    <input asp-for="Available" class="form-check-input">
                    <label asp-for="Available" class="form-check-label"></label>
                    <div>
                        <span asp-validation-for="Available" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-action="Index" asp-controller="Customer" class="btn btn-secondary">Back</a>
            </form>
        </div>
    </div>
</div>

@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>(function() {
            $('.input-validation-error').parents('.form-group').addClass('has-error');
            $('.field-validation-error').addClass('text-danger');
        })();</script>
}
