@{
    ViewData["Title"] = "Customers";
}

<div class="container">
    <h2>Customers</h2>

    <br />

    <div class="row">
        <div class="col-12">
            <a asp-action="Create" asp-controller="Customer" class="btn btn-primary float-right">New Customer</a>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-12">
            <table id="table-customers" class="table table-striped table-bordered dt-responsive nowrap"></table>
        </div>
    </div>
</div>

@section Scripts {
    <script>(function () {
            $('#table-customers').dataTable({
                serverSide: true,
                ajax: "/Customer/DataTable",
                columns: [
                    {
                        name: 'pkcustomer',
                        data: 'pkcustomer',
                        title: "PKCustomer",
                        sortable: true,
                        searchable: false
                    },
                    {
                        name: 'name',
                        data: "name",
                        title: "Customer",
                        sortable: true,
                        searchable: false
                    },
                    {
                        name: 'prefix',
                        data: "prefix",
                        title: "Prefix",
                        sortable: true,
                        searchable: false
                    },
                    {
                        name: 'building',
                        data: "building.name",
                        title: "Building",
                        sortable: false,
                        searchable: false
                    },
                    {
                        name: 'available',
                        data: "available",
                        title: "Available",
                        sortable: true,
                        searchable: false
                    },
                    {
                        mData: "pkcustomer",
                        title: "Actions",
                        sortable: false,
                        searchable: false,
                        mRender: function (data, type, row) {
                            return '<a class="btn btn-sm btn-secondary" href="Customer/Edit/' + data + '">Edit</a> <a class="btn btn-sm btn-warning" href="Customer/Delete/' + data + '">Delete</a>';
                        }
                    }
                ]
            });
        })();</script>
}
